apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  labels:
    app: app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
  spec:
      containers:
      - name: app
        image: helterpitanga/appmicro1:1.0 
        ports:
        - containerPort: 80
